In [1]:
import polars as ps
import matplotlib.pyplot as plt

In [2]:
train_path = "titanic/train.csv"
test_path = "titanic/test.csv"

In [3]:
train_df = ps.read_csv(train_path)
y = train_df["Survived"]
train_df = train_df.drop(["Survived"])
train_df

shape: (891, 11)
┌─────────────┬────────┬──────────────────┬────────┬─────┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Pclass ┆ Name             ┆ Sex    ┆ ... ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---    ┆ ---              ┆ ---    ┆     ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64    ┆ str              ┆ str    ┆     ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪════════╪══════════════════╪════════╪═════╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 3      ┆ Braund, Mr. Owen ┆ male   ┆ ... ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆        ┆ Harris           ┆        ┆     ┆            ┆         ┆       ┆          │
│ 2           ┆ 1      ┆ Cumings, Mrs.    ┆ female ┆ ... ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆        ┆ John Bradley     ┆        ┆     ┆            ┆         ┆       ┆          │
│             ┆        ┆ (Flor...         ┆        ┆     ┆            ┆         ┆       ┆          │
│ 3           ┆ 3      ┆ Heikkinen, Miss. ┆ female ┆ ... ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆        ┆ Laina            ┆        ┆     ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1      ┆ Futrelle, Mrs.   ┆ female ┆ ... ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆        ┆ Jacques Heath    ┆        ┆     ┆            ┆         ┆       ┆          │
│             ┆        ┆ (Li...           ┆        ┆     ┆            ┆         ┆       ┆          │
│ ...         ┆ ...    ┆ ...              ┆ ...    ┆ ... ┆ ...        ┆ ...     ┆ ...   ┆ ...      │
│ 888         ┆ 1      ┆ Graham, Miss.    ┆ female ┆ ... ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆        ┆ Margaret Edith   ┆        ┆     ┆            ┆         ┆       ┆          │
│ 889         ┆ 3      ┆ Johnston, Miss.  ┆ female ┆ ... ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆        ┆ Catherine Helen  ┆        ┆     ┆            ┆         ┆       ┆          │
│             ┆        ┆ ...              ┆        ┆     ┆            ┆         ┆       ┆          │
│ 890         ┆ 1      ┆ Behr, Mr. Karl   ┆ male   ┆ ... ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆        ┆ Howell           ┆        ┆     ┆            ┆         ┆       ┆          │
│ 891         ┆ 3      ┆ Dooley, Mr.      ┆ male   ┆ ... ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆        ┆ Patrick          ┆        ┆     ┆            ┆         ┆       ┆          │
└─────────────┴────────┴──────────────────┴────────┴─────┴────────────┴─────────┴───────┴──────────┘

In [4]:
## fill na in age, but first look what are the most common in the missing age, (fare, etc...)
## select - len jeden stlpec
## filter vsetky stplce


train_df.null_count()

shape: (1, 11)
┌─────────────┬────────┬──────┬─────┬─────┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Pclass ┆ Name ┆ Sex ┆ ... ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---    ┆ ---  ┆ --- ┆     ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32    ┆ u32  ┆ u32 ┆     ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪════════╪══════╪═════╪═════╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0      ┆ 0    ┆ 0   ┆ ... ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴────────┴──────┴─────┴─────┴────────┴──────┴───────┴──────────┘

In [26]:
train_df.filter(
    ps.col("Age").is_null(),)

shape: (177, 11)
┌─────────────┬────────┬───────────────────┬────────┬─────┬────────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Pclass ┆ Name              ┆ Sex    ┆ ... ┆ Ticket     ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---    ┆ ---               ┆ ---    ┆     ┆ ---        ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64    ┆ str               ┆ str    ┆     ┆ str        ┆ f64    ┆ str   ┆ str      │
╞═════════════╪════════╪═══════════════════╪════════╪═════╪════════════╪════════╪═══════╪══════════╡
│ 6           ┆ 3      ┆ Moran, Mr. James  ┆ male   ┆ ... ┆ 330877     ┆ 8.4583 ┆ null  ┆ Q        │
│ 18          ┆ 2      ┆ Williams, Mr.     ┆ male   ┆ ... ┆ 244373     ┆ 13.0   ┆ null  ┆ S        │
│             ┆        ┆ Charles Eugene    ┆        ┆     ┆            ┆        ┆       ┆          │
│ 20          ┆ 3      ┆ Masselmani, Mrs.  ┆ female ┆ ... ┆ 2649       ┆ 7.225  ┆ null  ┆ C        │
│             ┆        ┆ Fatima            ┆        ┆     ┆            ┆        ┆       ┆          │
│ 27          ┆ 3      ┆ Emir, Mr. Farred  ┆ male   ┆ ... ┆ 2631       ┆ 7.225  ┆ null  ┆ C        │
│             ┆        ┆ Chehab            ┆        ┆     ┆            ┆        ┆       ┆          │
│ ...         ┆ ...    ┆ ...               ┆ ...    ┆ ... ┆ ...        ┆ ...    ┆ ...   ┆ ...      │
│ 864         ┆ 3      ┆ Sage, Miss.       ┆ female ┆ ... ┆ CA. 2343   ┆ 69.55  ┆ null  ┆ S        │
│             ┆        ┆ Dorothy Edith     ┆        ┆     ┆            ┆        ┆       ┆          │
│             ┆        ┆ "Dolly...         ┆        ┆     ┆            ┆        ┆       ┆          │
│ 869         ┆ 3      ┆ van Melkebeke,    ┆ male   ┆ ... ┆ 345777     ┆ 9.5    ┆ null  ┆ S        │
│             ┆        ┆ Mr. Philemon      ┆        ┆     ┆            ┆        ┆       ┆          │
│ 879         ┆ 3      ┆ Laleff, Mr.       ┆ male   ┆ ... ┆ 349217     ┆ 7.8958 ┆ null  ┆ S        │
│             ┆        ┆ Kristo            ┆        ┆     ┆            ┆        ┆       ┆          │
│ 889         ┆ 3      ┆ Johnston, Miss.   ┆ female ┆ ... ┆ W./C. 6607 ┆ 23.45  ┆ null  ┆ S        │
│             ┆        ┆ Catherine Helen   ┆        ┆     ┆            ┆        ┆       ┆          │
│             ┆        ┆ ...               ┆        ┆     ┆            ┆        ┆       ┆          │
└─────────────┴────────┴───────────────────┴────────┴─────┴────────────┴────────┴───────┴──────────┘

In [27]:
train_df = train_df.with_column(ps.col("Age").fill_null(ps.median("Age")))
train_df

shape: (891, 11)
┌─────────────┬────────┬──────────────────┬────────┬─────┬────────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Pclass ┆ Name             ┆ Sex    ┆ ... ┆ Ticket     ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---    ┆ ---              ┆ ---    ┆     ┆ ---        ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64    ┆ str              ┆ str    ┆     ┆ str        ┆ f64     ┆ str   ┆ str      │
╞═════════════╪════════╪══════════════════╪════════╪═════╪════════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 3      ┆ Braund, Mr. Owen ┆ male   ┆ ... ┆ A/5 21171  ┆ 7.25    ┆ null  ┆ S        │
│             ┆        ┆ Harris           ┆        ┆     ┆            ┆         ┆       ┆          │
│ 2           ┆ 1      ┆ Cumings, Mrs.    ┆ female ┆ ... ┆ PC 17599   ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆        ┆ John Bradley     ┆        ┆     ┆            ┆         ┆       ┆          │
│             ┆        ┆ (Flor...         ┆        ┆     ┆            ┆         ┆       ┆          │
│ 3           ┆ 3      ┆ Heikkinen, Miss. ┆ female ┆ ... ┆ STON/O2.   ┆ 7.925   ┆ null  ┆ S        │
│             ┆        ┆ Laina            ┆        ┆     ┆ 3101282    ┆         ┆       ┆          │
│ 4           ┆ 1      ┆ Futrelle, Mrs.   ┆ female ┆ ... ┆ 113803     ┆ 53.1    ┆ C123  ┆ S        │
│             ┆        ┆ Jacques Heath    ┆        ┆     ┆            ┆         ┆       ┆          │
│             ┆        ┆ (Li...           ┆        ┆     ┆            ┆         ┆       ┆          │
│ ...         ┆ ...    ┆ ...              ┆ ...    ┆ ... ┆ ...        ┆ ...     ┆ ...   ┆ ...      │
│ 888         ┆ 1      ┆ Graham, Miss.    ┆ female ┆ ... ┆ 112053     ┆ 30.0    ┆ B42   ┆ S        │
│             ┆        ┆ Margaret Edith   ┆        ┆     ┆            ┆         ┆       ┆          │
│ 889         ┆ 3      ┆ Johnston, Miss.  ┆ female ┆ ... ┆ W./C. 6607 ┆ 23.45   ┆ null  ┆ S        │
│             ┆        ┆ Catherine Helen  ┆        ┆     ┆            ┆         ┆       ┆          │
│             ┆        ┆ ...              ┆        ┆     ┆            ┆         ┆       ┆          │
│ 890         ┆ 1      ┆ Behr, Mr. Karl   ┆ male   ┆ ... ┆ 111369     ┆ 30.0    ┆ C148  ┆ C        │
│             ┆        ┆ Howell           ┆        ┆     ┆            ┆         ┆       ┆          │
│ 891         ┆ 3      ┆ Dooley, Mr.      ┆ male   ┆ ... ┆ 370376     ┆ 7.75    ┆ null  ┆ Q        │
│             ┆        ┆ Patrick          ┆        ┆     ┆            ┆         ┆       ┆          │
└─────────────┴────────┴──────────────────┴────────┴─────┴────────────┴─────────┴───────┴──────────┘

In [29]:
train_df.null_count()

shape: (1, 11)
┌─────────────┬────────┬──────┬─────┬─────┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Pclass ┆ Name ┆ Sex ┆ ... ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---    ┆ ---  ┆ --- ┆     ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32    ┆ u32  ┆ u32 ┆     ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪════════╪══════╪═════╪═════╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0      ┆ 0    ┆ 0   ┆ ... ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴────────┴──────┴─────┴─────┴────────┴──────┴───────┴──────────┘

In [38]:
train_df.filter(ps.col("Cabin").is_null())["Embarked"].value_counts()

shape: (3, 2)
┌──────────┬────────┐
│ Embarked ┆ counts │
│ ---      ┆ ---    │
│ str      ┆ u32    │
╞══════════╪════════╡
│ Q        ┆ 73     │
│ S        ┆ 515    │
│ C        ┆ 99     │
└──────────┴────────┘